*{
margin: 0px;
font-family:serif;
box-sizing: border-box;

}

.encabezado{
	display: inline-flex;
	height: 75px;
	align-items: center;
	width: 100%;
	border: solid 1px;
}


.menu{
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
}


.logo{
	background-image: url("https://i.pinimg.com/236x/68/3c/77/683c77737d744300db5c00e09000acd7.jpg");
	width: 200px;
	height: 69px;
	background-position: center;
	background-size:;
	
}

.opciones{
	
	font-size: 20px;
	margin: 10px;
	color: black;
	text-decoration: none;
	padding: 3px;
	justify-content: flex-end;
	

}




	
	
